# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
pytest_cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode settings
.vscode/

# macOS
.DS_Store

# IDEs
.idea/

# Data folder (ton cas spécifique)
data/